/* General */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: "Lato";
    color: #000000;
    background-color:#921151;
}

.imagen-fondo {
    background-image: url(/images/background.png);
    width: 100%;
    height: 100%;
    background-position: center;
}

img {
    max-width: 350px;
}

.hidden-cart {
    text-align: left;
}

.contenedor-item {
    text-align:center;
}

/*Cabeza del HTML*/
header {
    display: flex;
    justify-content: space-between;
    padding: 30px 10px 40px 10px;
}

/*Iconos*/
.carrito-icono {
    width: 40px;
    height: 40px;
    stroke: #000000;
}

.carrito-icono:hover {
    cursor: pointer;
}

.contenedor-iconos {
    position: relative;
}


/*Carrito de compras*/
.cantidad-productos {
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-items {
    font-size: 12px;
}

.contenedor-carro {
    position: absolute;
    top: 50px;
    right: 0;

    background-color:#fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}

.productos-carrito {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 2.5px solid rgba(0, 0, 0, 0.20)
}

.info-producto-carrito {
    display: flex;
    justify-content: space-between;
    flex: 0.95;
}

.cantidad-producto-carrito {
    font-weight: 400;
    font-size: 20px;
}

.titulo-producto-carrito {
    font-size: 20px;
}  

.precio-producto-carrito {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.cancelar-productos {
    width: 25px;
    height: 25px;
}

.cancelar-productos:hover {
    stroke: red;
    cursor: pointer;
}

.total-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.total-carrito h3 {
    font-size: 20px;
    font-weight: 700;
}

.total-pagar {
    font-size: 20px;
    font-weight: 900;
}

/*Ocultar carrito*/
.hidden-cart {
    display: none;
}

/*Main*/

.contenedor-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}


.producto {
    border-radius:10px;
    background-color: #ff0080;
}
.producto:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.producto figure {
    overflow: hidden;
}
.producto img {
    transition: all .5s;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.producto:hover img{
    transform: scale(1.2);
}


.info-producto {
    padding:10px;
    line-height: 1;
    display:flex;
    flex-direction:column;
    gap:10px;
}
.precio {
    font-size:15px;
    font-weight: 100px;
}
.info-producto button{
    border: none;
    background: none;
    background-color:#000000;
    color:aliceblue;
    padding: 15px, 10px;
    cursor: pointer;
}