/* General */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: "Lato";
    color: #000000;
    background-color:#D14D72;
}
img {
    max-width: 350px;
}

.hidden-cart {
    text-align: left;
}

.contenedor-item {
    text-align:center;
}

/*Cabeza del HTML*/
header {
    display: flex;
    justify-content: space-between;
    padding: 30px 10px 40px 10px;
}

/*Iconos*/
.carrito-icono {
    width: 40px;
    height: 40px;
    stroke: #000000;
}

.contenedor-iconos {
    position: relative;
}

.cantidad-productos {
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.contenedor-carro {
    position: absolute;
    top: 50px;
    right: 0;

    background-color:#fff;
    width: 400px;
    z-index: 1;
}

.productos-carrito {
    display:flex;
    justify-content: space-between;
    padding: 30px;
}

.info-producto-carrito {
    display:flex;
    justify-content: space-between;
}

.cancelar-productos {
    width: 25px;
    height: 25px;
}


/* Main */

.contenedor-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}


.producto {
    border-radius:10px;
    background-color: #E8A0BF;
}
.producto:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.producto figure {
    overflow: hidden;
}
.producto img {
    transition: all .5s;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.producto:hover img{
    transform: scale(1.2);
}


.info-producto {
    padding:10px;
    line-height: 1;
    display:flex;
    flex-direction:column;
    gap:10px;
}
.precio {
    font-size:15px;
    font-weight: 100px;
}
.info-producto button{
    border: none;
    background: none;
    background-color:#000000;
    color:aliceblue;
    padding: 15px, 10px;
    cursor: pointer;
}